.main-container{
    display: flex;
    justify-content: center;
}

.video-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.video-img{
    z-index: 0;
    width: 100%;
}

.video-grid-left{
    display: flex;
    gap: 5px;
    flex-direction: column; 
    justify-content: flex-end;
}

.video-grid-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    justify-content: flex-start;
}

.video-details{
    font-weight: 500;
}

.video-details .stats{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-details,.video-description{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.stat-button{
    background-color:rgba(199, 194, 194, 0.164);
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    transition: background-color 0.1s;
    cursor: pointer;
}

.stat-button:hover{
    background-color:rgba(199, 194, 194, 0.4);
}

.stat-button:active{
    background-color:rgba(199, 194, 194, 0.6);
}

@media (max-width: 900px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
}